<launch>
   <group ns="t1">
     <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
   </group>

   <group ns="t2">
     <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
   </group>

   <node pkg="turtlesim" name="mimic" type="mimic">
     <remap from="input" to="t1/turtle1"/>
     <remap from="output" to="t2/turtle1"/>
   </node>
 
</launch>
